{% load static %}
<div class="container my-2">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap">
                <img src="{% static 'images/logo.png' %}" alt="" width="50" class="m-1">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2025 E-Commerce, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram">
                    <i class="fa fab fa-facebook" style="font-size: large;"></i>
                </a>

            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="#" aria-label="Instagram">
                    <i class="fa fab fa-instagram" style="font-size: large;"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>