{% extends 'layout/base.html' %}
{% block title %}
{{page_title}}
{% endblock %}
{% block content %}
<div class="container p-4">
    <div class="caler alert-danger">
        <h4>Are You Sure you want to delete {{product.name}}</h4>
        <p>This action cannot be undone</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'products' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}