{% extends 'layout/base.html' %}
{% block title %} {{page_title}} {% endblock %}
{% block content %}
<h1>Home Page</h1>
<div class="container col-6">
    {% for user in users %}
    <div class="card card-body">
        {% if user.username %}
        <h3 class="text-success">Username: {{user.username}}</h3>
        {% else %}
        <h3 class="text-danger">Username: "Anoynomus"</h3>
        {% endif %}
        <h4>Age: {{user.age}}</h4>
        <h4>Hire Date: {{user.hire_date|date:"F j, Y"}}</h4>
        <h4>Salary: {{user.salary}}</h4>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock %}