<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>Ecommerce - {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.all.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block styles %}
    {% endblock styles %}
    <!-- <link rel="stylesheet" href="{% static 'fonts/fa-solid-900.ttf' %}">
    <link rel="stylesheet" href="{% static 'fonts/fa-solid-900.woff2' %}"> -->

</head>

<body>
    {% if not request.path == '/login/' %}
    {% include 'layout/partials/_navbar.html' %}
    {% endif %}

    {% block content %}
    {% endblock %}



    {% block scripts %}
    {% endblock %}
    {% include 'layout/partials/_footer.html' %}
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>


</html>